.otpbox-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.otpbox-input {
	height: 35px;
	width: 35px;

	text-align: center;
	caret-color: transparent;

	border: none;
	border-bottom: 3px solid #d7d7d7;
	outline: none;
}

.otpbox-input:focus {
	border-bottom: 3px solid #17beec;
	animation: blink 1.5s linear infinite;
}

.otpbox-input::-webkit-outer-spin-button,
.otpbox-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.otpbox-input[type="number"] {
	-moz-appearance: textfield;
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}
