.system-notifications-wrapper {
	position: fixed;
	right: 0;
	bottom: 50px;
	width: 350px;

	z-index: 12;
}

.user-notifications-wrapper {
	position: fixed;

	right: 0;
	top: 25px;
	width: 350px;

	z-index: 12;
}

@media screen and (max-width: 400px) {
	.system-notifications-wrapper {
		width: 100%;
		bottom: 0;
	}
	.user-notifications-wrapper {
		width: 100%;
		top: 0;
	}
}