.settings-row {
	display: flex;
	justify-content: space-between;

	padding: 20px 0;

	width: 100%;

	border-bottom: 1px solid #d7d7d7;
}

.settings-row .input {
    background: #fafafa;
}

.settings-row-title {
	width: 30%;
}

.settings-row-change {
	width: 40%;
}

.settings-row-action {
	margin-left: auto;
}

.settings-row-action button {
	min-width: 100px;
}

.form-block {
	margin: 10px 0;
}

@media screen and (max-width: 850px) {
	.settings-wrapper {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.settings-row {
		flex-direction: column;
		padding: 10px 0;
	}
	.settings-row div {
		width: 100%;
	}
	.settings-row-action button {
		min-width: 0;
	}
	.settings-row > div {
		margin: 5px 0;
	}

	.settings-row-title div {
		font-size: 1.2rem;
	}
	.settings-row-change span {
		font-size: .9rem;
	}
}
