.dd-wrapper {
    position: relative;
}

/* HEADER */

.dd-header:hover {
	cursor: pointer;
}

.dd-header img {
	max-width: 35px;
	width: 100%;

	border-radius: 50%;
}

.fa-chevron-down {
	color: #979797;
}

/* LIST */

.dd-list {
	position: absolute;
	
	background-color: #ffffff;

	border: 1px solid #d7d7d7;

    min-width: 200px;
    width: 100%;

    margin-top: 5px;
    right: 0;
    left: auto;
}

/* LIST ITEM */

.dd-list-item {
	background: #ffffff;

	padding: 7px 10px;
	width: 100%;

	text-align: left;

	border: 0;
	border-left: 3px solid transparent;
	outline: none;

	cursor: pointer;
}

.dd-list-item:first-child {
	margin-top: 7px;
}

.dd-list-item:last-child {
	margin-bottom: 7px;
}

.dd-list-item:hover {
	background: #f0f7fd;
	border-left: 3px solid #17beec;
}

.dd-list-item.disabled {
	border-left: 3px solid transparent;
}

.dd-list-item.disabled:hover {
	border-left: 3px solid transparent;
	background: none;
	cursor: default;
}

/* DIVIDER */

.dd-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid rgba(0,0,0,.15);
}
