.wrapper {
	position: absolute;
	border: 1px solid rgb(189, 189, 189);
	padding: 5px 0;
	background: #ffffff;
	max-width: 400px;
	width: 220px;
	border-radius: 2px;

	z-index: 15;

	animation: Appearing 0.3s forwards;
}

@keyframes Appearing {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.menuItem {
	background: transparent;
	outline: none;
	border: 0;
	padding: 7px 10px;
	width: 100%;

	text-align: start;

	cursor: pointer;

	transition: 0.3s;
}

.menuItem:hover {
	background: rgb(240, 240, 240);
	cursor: pointer;
}

.menuItem:focus {
	-webkit-tap-highlight-color: transparent;
}

.menuItem div {
	display: flex;
	align-items: center;
}

.menuItem div * {
	margin-right: 10px;
}
