/* DEFAULTS */

.section-heading .border {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 15px 0;

	color: rgb(80, 80, 80);
}

.section-heading .border::after {
	content: "";
	display: block;
	height: 0.09em;
	width: 100%;
}

.section-heading .border::after {
	background: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(192, 192, 192));
}

.section-heading span {
	font-weight: 600;
	font-size: 1.6rem;
}

.section-heading p {
	font-style: italic;
}

.top {
	margin-top: 30px;
}

/* DANGER */

.section-heading.danger .border::after {
	background: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(255, 0, 0));
}

.section-heading.danger span {
	color: #ea4335;
}

.section-heading.danger p {
	color: #ea4335;
}

@media screen and (max-width: 600px) {
	.section-heading .border {
		padding: 5px 0;
	}
}