/* Wrapper */
.wrapper {
	display: flex;
	align-items: center;
	padding: 10px;

	transition: 0.3s;
}

.wrapper:hover {
	background: rgb(245, 245, 245);
	cursor: pointer;
}

.wrapper.active {
	background: rgb(235, 235, 235);
}

.wrapper.active:hover {
	cursor: default;
}

/* Image container */
.imageContainer {
	margin-right: 10px;
}

.imageContainer img {
	width: 40px;
	border-radius: 50%;
}

/* Last message */
.lastMessage {
	font-size: 0.8rem;
	color: gray;
	margin-top: 5px;

	word-wrap: break-all;
}

@media (max-width: 850px) {
	.wrapper {
		border-bottom: 1px solid rgb(233, 233, 233);
	}
	.wrapper:last-child {
		border-bottom: none;
	}
}
