:root {
	--main-sidebar: #17beec;
	--secondary-sidebar: #838383;
}

.sidebar-container {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
}

.sidebar-item {
	padding: 5px 10px;
	margin-bottom: 3px;
	text-decoration: none;
	color: black;

	border-left: 3px solid transparent;
}

.sidebar-item .fas {
	display: inline;
	margin-right: 10px;
}

.sidebar-item:hover {
	border-left: 3px solid var(--secondary-sidebar);
}

.sidebar-item.active {
	border-left: 3px solid var(--main-sidebar);

	color: var(--main-sidebar);

	background: rgb(222, 238, 252);
	background: linear-gradient(
		90deg,
		rgba(222, 238, 252, 1) 0%,
		rgba(247, 252, 255, 1) 61%,
		rgba(250, 250, 250, 1) 89%
	);
}

@media (max-width: 850px) {
	.sidebar-container {
		flex-direction: row;
		justify-content: space-around;
		width: 100%;

		margin-bottom: 10px;

		overflow-x: auto;
	}

	.sidebar-item {
		margin: 0;
		padding-bottom: 10px;

		border: 0;
		border-bottom: 3px solid transparent;

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		background: none;
	}

	.sidebar-item:hover {
		border: 0;
		border-bottom: 3px solid #838383;
	}

	.sidebar-item.active {
		border: 0;
		border-bottom: 3px solid var(--main-sidebar);

		color: var(--main-sidebar);

		background: none;
	}
}

@media (max-width: 500px) {
	.sidebar-container {
		justify-content: space-between;
	}
	.sidebar-item {
		margin: 0 10px;
	}
}
