.drag-and-drop {
	width: 100%;
	text-align: center;
	height: 100%;
    transition: .3s;

    border: 1px solid transparent;
}

.drag-and-drop.inside {
    opacity: .5;

    border: 1px solid #17beec;
}
