/* Wrapper */
.wrapper {
  display: flex;
  flex-direction: column;

  height: calc(100vh - 57.09px);
}

/* Header */
.header {
  display: flex;
  align-items: center;

  text-align: center;
}

.backButton {
  position: absolute;
}

.backButton i {
  padding: 10px 10px 10px 0;
  font-size: 1.1rem;
  color: gray;
}

.userInfo {
  margin: 0 auto;
}

.userInfo div {
  font-size: 1.1rem;
}

.userInfo span {
  font-size: 0.9rem;
  color: gray;
}

.divider {
  position: relative;
  height: 1px;

  margin: 15px 0;
}

.divider:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(172, 172, 172),
    transparent
  );
  z-index: -1;
}

/* Messages */
.sayHiBlock {
  text-align: center;
  font-style: italic;
}

.messages {
  min-height: 0;
  height: 100%;

  /* min-height: -webkit-fill-available; */
  overflow: auto;
}

.messages::-webkit-scrollbar {
  display: block;
  width: 5px;
}

.messages::-webkit-scrollbar-track {
  background: #dddddd;
  border-radius: 15px;
}

.messages::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(189, 189, 189);
}

/* Footer */
.writeMessageBlock {
  display: flex;
  align-content: stretch;

  padding: 10px 5px;

  border-top: 1px solid rgb(202, 202, 202);
  margin-top: 2px;
}

.writeMessageBlock button {
  padding: 0 5px;
}

.messageTextarea {
  flex: 1 0 auto;

  border: none;
  line-height: 24px;
  resize: none;
  background: #fafafa;
}

.messageTextarea:focus {
  outline: none;
}

@media (min-width: 850px) {
  .backButton {
    display: none;
  }
}

@media (max-width: 850px) {
  .wrapper {
    height: calc(100vh - 104.29px);
  }
}
