.wrapper {
	width: 100%;
	transition: 0.2s;

	display: flex;
	align-items: center;
}

.wrapper.selected {
	background: #f3f3f3;
}

.wrapper.forwardAnim {
	transition: none;
	background: rgb(0, 0, 0);
	animation: ForwardSelectAnimation 3s forwards;
}

@keyframes ForwardSelectAnimation {
	0% {
		background: rgba(146, 202, 235, 0);
	}
	50% {
		background: rgb(146, 202, 235);
	}
	100% {
		background: rgb(146, 202, 235, 0);
	}
}

.message {
	background: rgb(228, 228, 228);
	border-radius: 2px;

	width: 40%;

	margin: 3px 5px;
	padding: 7px;

	word-wrap: break-word;

	user-select: none;
}

.message.right {
	width: 40%;
	margin-left: auto;

	background: #a3ebff;
}

.messageMeta {
	text-align: right;
	position: relative;
}

.messageMeta:hover .extendedTime {
	visibility: visible;
	opacity: 1;
	transition-delay: 2s;
}

.messageMeta span {
	font-size: 0.8rem;
	color: rgb(107, 107, 107);
}

.messageMeta span:first-child {
	margin-right: 5px;
}

.extendedTime {
	position: absolute;

	bottom: 101%;
	right: 0;

	padding: 5px;
	border-radius: 2px;
	border: 1px solid rgb(212, 212, 212);

	background: rgb(243, 243, 243);

	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.1s linear;
}

.extendedTime div {
	font-size: 0.8rem;
	text-align: left;
}

.singleForwarded {
	padding-left: 5px;
	margin-bottom: 7px;
	border-left: 2px solid #A25FEE;
}

.singleForwarded div:first-child {
	color: #A25FEE;
}

.singleForwarded div {
	font-size: .9rem;
}

.styleForwarded {
	border-left: 2px solid #A25FEE;
	color: #A25FEE;

	font-size: .9rem;

	padding-left: 5px;
	margin-bottom: 5px;
}

@media (max-width: 640px) {
	.message {
		width: 75%;
	}
	.message.right {
		width: 75%;
	}
}

@media (max-width: 850px) {
	.extendedTime {
		display: none;
	}
}