.message {
	background: rgb(228, 228, 228);
	border-radius: 2px;

	max-width: 40%;

	margin: 0 5px 5px 5px;
	padding: 7px;

	word-wrap: break-word;

	user-select: none;
}

.message.right {
	width: 40%;
	margin-left: auto;

	background: #a3ebff;
}

.messageMeta {
	text-align: right;
	position: relative;
}

.messageMeta:hover .extendedTime {
	visibility: visible;
	opacity: 1;
	transition-delay: 2s;
}

.messageMeta span {
	font-size: 0.8rem;
	color: rgb(107, 107, 107);
}

.messageMeta span:first-child {
	margin-right: 5px;
}

.extendedTime {
	position: absolute;

	bottom: 101%;
	right: 0;

	padding: 5px;
	border-radius: 2px;
	border: 1px solid rgb(212, 212, 212);

	background: rgb(243, 243, 243);

	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.1s linear;
}

.extendedTime div {
	font-size: 0.8rem;
	text-align: left;
}

@media (max-width: 640px) {
	.message {
		max-width: 75%;
	}
	.message.right {
		width: 75%;
	}
}
