.boxArea {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;

	min-height: 100vh;
	min-height: -webkit-fill-available;

	overflow: hidden;
}
.boxArea li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;

	background: rgb(161, 235, 253);

	animation: animate 20s linear infinite;
	bottom: -150px;

	border-radius: 10px;
}
.boxArea li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;

	border-radius: 14px;
}
.boxArea li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;

	border-radius: 5px;
}
.boxArea li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;

	border-radius: 19px;
}
.boxArea li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;

	border-radius: 20px;
}
.boxArea li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;

	border-radius: 5px;
}
.boxArea li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;

	border-radius: 8px;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
	}
	100% {
		transform: translateY(-1150px) rotate(360deg);
	}
}

@media (max-width: 450px) {
	.boxArea li:nth-child(2),
	.boxArea li:nth-child(5),
	.boxArea li:nth-child(3) {
		display: none;
	}
}
