/* WRAPPERS */
.wrapper {
    border: 1px solid #d7d7d7;
    background: #FFFFFF;

    padding: 10px;
    margin: 0 0 10px 10px;
}

.wrapper img {
    width: 100%;
}

.nameAndSmallImageWrapper {
    display: flex;
    width: 100%;
}

/* IMAGE BLOCKS */

.mediumImageBlock {
    display: none;
}

.smallImageBlock {
    display: none;
}

.smallImageBlock img {
    width: 70px;
}

/* GENERAL */

.additionalInfo {
    display: flex;
    margin-bottom: 15px;
}

.additionalInfo div {
    font-size: .8rem;
}

.additionalInfo div:first-child {
    width: 40%;
}

.additionalInfo:last-child {
    margin-bottom: 0;
}

.name {
    font-size: 1.7rem;
}

.bio {
    margin: 10px 0;
    color: rgb(109, 109, 109);
}

.sectionHeading span {
    font-size: 1.2rem;
}

/* CREATE POST */
.postControls {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.postControls select {
    max-width: 30%;
    width: 30%;
}

@media (max-width: 850px) {
    .wrapper {
        margin-left: 0;
    }

    .blocksWrapper {
        display: flex;
    }

    .bigImageBlock {
        display: none;
    }

    .mediumImageBlock {
        display: block;
        width: 25%;
        margin-left: 10px;
    }

    .basicInfoBlock {
        width: 75%;
    }
}

@media (max-width: 650px) {
    .basicInfoBlock {
        width: 100%;
    }

    .mediumImageBlock {
        display: none;
    }

    .smallImageBlock {
        display: block;
    }

    .nameAndSmallImageWrapper {
        justify-content: space-between;
    }
}

@media (max-width: 550px) {
    .additionalInfo div:first-child {
        width: auto;
    } 
    .additionalInfo {
        justify-content: space-between;
    }
}

@media (max-width: 430px) {
    .name {
        font-size: 1.4rem;
    }
    .bio {
        font-size: .9rem;
    }
}