:root {
	--primary: #17beec;
	--secondary: #676767;
	--danger: #ea4335;

	--main: #fafafa;
	--accent: #ffffff;

	--width: calc(100% / 12);
}

html * {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;

	background: var(--main);

	min-height: 100vh;
	min-height: -webkit-fill-available;
}

/* ============================ LAYOUT ============================ */

.container {
	display: flex;

	width: 100%;
	max-width: 1200px;

	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}

.col-1 {
	width: var(--width);
}
.col-2 {
	width: calc(var(--width) * 2);
}
.col-3 {
	width: calc(var(--width) * 3);
}
.col-4 {
	width: calc(var(--width) * 4);
}
.col-5 {
	width: calc(var(--width) * 5);
}
.col-6 {
	width: calc(var(--width) * 6);
}
.col-7 {
	width: calc(var(--width) * 7);
}
.col-8 {
	width: calc(var(--width) * 8);
}
.col-9 {
	width: calc(var(--width) * 9);
}
.col-10 {
	width: calc(var(--width) * 10);
}
.col-11 {
	width: calc(var(--width) * 11);
}
.col-12 {
	width: calc(var(--width) * 12);
}

@media (max-width: 850px) {
	.container {
		flex-direction: column;
		width: 100%;
	}
	.col-1 {
		width: 100%;
	}
	.col-2 {
		width: 100%;
	}
	.col-3 {
		width: 100%;
	}
	.col-4 {
		width: 100%;
	}
	.col-5 {
		width: 100%;
	}
	.col-6 {
		width: 100%;
	}
	.col-7 {
		width: 100%;
	}
	.col-8 {
		width: 100%;
	}
	.col-9 {
		width: 100%;
	}
	.col-10 {
		width: 100%;
	}
}

/* ============================ BUTTONS ============================ */

.btn-transperent {
	background: transparent;
	outline: none;
	border: 0;
	cursor: pointer;
	padding: 0;
	color: var(--primary);
}

.btn {
	border: none;
	padding: 7px 10px;
	cursor: pointer;
	color: white;
	transition: 0.3s;
	min-width: 70px;
	border-radius: 2px;
}

.btn:focus {
	outline: none;
}

.btn:disabled {
	cursor: not-allowed;
}

.btn-primary {
	background-color: var(--primary);
}

.btn-primary:hover {
	background-color: #18a6df;
}

.btn-primary:focus {
	background-color: #18a6df;
}

.btn-primary:disabled {
	background-color: #88d2f0;
}

.btn-secondary {
	background-color: var(--secondary);
}

.btn-secondary:hover {
	background-color: #4d4d4d;
}

.btn-secondary:focus {
	background-color: #4d4d4d;
}

.btn-secondary:disabled {
	background-color: #949494;
}

.btn-danger {
	background-color: var(--danger);
}

.btn-danger:hover {
	background-color: #d62818;
}

.btn-danger:focus {
	background-color: #d62818;
}

.btn-danger:disabled {
	background-color: #e96c60;
}

/* ============================ INPUTS ============================ */

.input {
	display: block;
	width: 100%;

	padding: 7px 0 7px 0;

	box-sizing: border-box;

	border: none;
	border-bottom: 1px solid #d7d7d7;
	background: var(--main);
}

.input:focus {
	outline: none;
	border-color: #17bcee;
	box-shadow: 0px 6px 7px -8px #17bcee;
}

.input:focus::-webkit-input-placeholder {
	opacity: 0;
	transform: translate(10%);
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

.input:disabled {
	background: rgba(239, 245, 245, 0.612);
	cursor: not-allowed;
}

.input-group {
	display: flex;
	align-content: stretch;
}

.input-group > input {
	flex: 1 0 auto;
}

.input-group input {
	border: 1px solid #d7d7d7;
	background: var(--accent);
	padding: 0 10px;
}

.input-group input:focus {
	border: 1px solid #17beec;
	outline: none;
}

.input-group span {
	border: 1px solid #d7d7d7;
	padding: 0.5em 0.7em;
}

.input-group i {
	color: #929292;
}

.input-group textarea {
	background: var(--accent);
}

/* ============================ TEXTAREA ============================ */

.textarea {
	display: block;
	width: 100%;

	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid #d7d7d7;

	resize: none;

	line-height: 24px;
	height: auto;

	padding: 7px 5px;

	background: var(--main);
}

.textarea.accent {
	background: var(--accent);
}

.textarea:focus {
	outline: none;
	border-color: #17bcee;
	box-shadow: 0px 6px 7px -8px #17bcee;
}

.textarea:focus::-webkit-input-placeholder {
	opacity: 0.7;
}

.textarea:disabled {
	background: rgba(239, 245, 245, 0.612);
	cursor: not-allowed;
}

/* ============================ SELECT ============================ */

.select {
	display: block;
	width: 100%;

	padding: 3px 5px;

	border-color: #d7d7d7;
	background: var(--main);

	border-radius: 2px;
}

.select:focus {
	outline: none;
	border-color: var(--primary);
}

/* ============================ FORMS ============================ */

.form-group {
	margin-bottom: 1rem;
}

.form-group .input {
	margin-bottom: 5px;
	background: var(--accent);
}

.form-error {
	font-size: 0.8rem;

	color: var(--danger);
}

/* ============================ LINKS ============================ */

.link {
	color: var(--primary);
	text-decoration: none;
	transition: 0.3s;
}

.link:visited {
}

.link:hover {
	color: #18a6df;
}

.link:active {
}

/* ============================ DIVIDERS ============================ */
.divider {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 15px 0;

	color: rgb(80, 80, 80);
}

.divider::before,
.divider::after {
	content: "";
	display: block;
	height: 0.09em;
	width: 100%;
}

.divider::before {
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(192, 192, 192));
	margin-right: 2vh;
}

.divider::after {
	background: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(192, 192, 192));
	margin-left: 2vh;
}

hr {
	border: none;
	border-top: 1px solid #c5c5c5;
}

/* ============================ SCROLLBAR ============================ */
::-webkit-scrollbar {
	display: none;
}

/* ============================ OVERLAY ============================ */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;

	background: #000;
	opacity: 0.3;

	z-index: 11;
	animation: OverlayOpacityAppear 0.5s;
}

@keyframes OverlayOpacityAppear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.3;
	}
}
